Bienvenue, sur Yuushi1, codé et crée par Sad Massyl.Etudiant à Sorbonne-Université en Mathématiques je suis passionné par Tout ce qui est Sql Injection, web scraping ainsi que modelisation en python.
Ici, Vous trouverez la version de Yuushi 1 à but documentaire, vous pouvez me contacter sur massyl.sad@icloud.com
Extractpaps permet de SCRAP le site web PAPS.
Yuushi1mean et yuushi1m2mean permettent de faire les moyennes sur les données acquises.

In [113]:
import requests # http requests
from bs4 import BeautifulSoup # Webscrape
from collections import defaultdict # Default dictionary: store a list with each key
import pandas as pd     # DF
import selenium as sln
import csv
import time
header = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36'}
url = f'https://www.pap.fr/annonce/vente-appartements-paris-75-g439-studio'
from urllib.request import Request, urlopen
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
driver= webdriver.Chrome(ChromeDriverManager().install())
import numpy
import string
import re

In [163]:
def extractpaps():
    #On recupére l'url sur sln et on execute un scrollbar en JS 
    driver.get(url)
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 9000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 15000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 25000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 35000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 50000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 70000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 100000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 120000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 150000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 180000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 200000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 230000)")
    time.sleep(3)
    driver.execute_script("window.scrollTo(0, 270000)")
    html1= BeautifulSoup(driver.page_source,"html.parser")
    Items = html1.find_all("div", class_="search-list-item-alt") # Recherches des soups par div et class 
    
    
    parameters = ['Titre','Prix','Descriptions','Taille','m^2']
    df = pd.DataFrame(columns=parameters)
    i=0
    #INDEXATION
    for item in Items:
        i = i + 1
        Price= item.find('span', class_="item-price")
        Titre= item.find('span', class_="h1")
        taille = item.find_all('li')
        Desc= item.find('p', class_="item-description")
        l=[]
        l.append(Titre.get_text().strip())
        l.append(Price.get_text().strip()) 
        l.append(Desc.get_text().strip())
        for e in taille:
            l.append(e.get_text().strip())
        if len(l) == 5 :
            df.loc[i]=l
        if len(l)== 4 :
            l.append('None')
            df.loc[i]=l
        if len(l) == 3 :
            l.append('None')
            l.append('None')
            df.loc[i]=l
    #EXCEL WRIT        
    exelwrit = pd.ExcelWriter('output.xlsx')   
    df.to_excel(
        exelwrit,  index=True, index_label=None, startrow=0, startcol=0,)

    exelwrit.close()
    return df

In [164]:
extractpaps()

,Titre,Prix,Descriptions,Taille,m^2
1,Paris 11E (75011),205.000 €,11 rue Saint-Maur. Immeuble haussmannien.\n\nJ...,1 pièce,17.00 m2
2,Paris 20E (75020),247.000 €,Je mets en vente mon bien situé au 1er étage d...,1 pièce,25.00 m2
3,Paris 2E (75002),400.000 €,Appartement cocon au dernière étage d'une copr...,1 pièce,30.00 m2
4,200 collaborateurs au service de vos projets,Vous n'êtes pas tout seuls !,Les équipes de PAP proposent de nombreux servi...,None,None
5,Paris 3E (75003),330.000 €,Studio d'une surface d'environ 27 m2 loi Carre...,1 pièce,27.00 m2
...,...,...,...,...,...
191,Paris 15E (75015),312.000 €,"Quartier Convention/Vaugirard, Rue de l'abbé G...",1 pièce,26.00 m2
192,Et si vous étiez éligible au logement interméd...,,Utilisez notre simulateur pour accéder à des o...,None,None
193,Paris 17E (75017),99.000 €,Quartier Batignolles. Vue sur sacré cœur. A pr...,1 pièce,7.00 m2
194,Paris 16E (75016),89.000 €,Typique et adorable chambre de service au 6e é...,1 pièce,7.00 m2
195,Paris 17E (75017),299.000 €,Beau studio T1 de 26m² situé au 5ème étage d’u...,1 pièce,26.00 m2

In [166]:
data = extractpaps()

In [153]:
def Yuushi1mean(data):
    
    PRICE = data.iloc[:,1]
    
    # transformer en int 
    prix = list()
    for e in PRICE :
        nombres = re.findall("\d+", e) # recherche tous les décimals
        if len(nombres) < 2 :
            pricee = 0
            prix.append(0)
        else :
            pricee= nombres[0] + nombres[1]
            prix.append(int(pricee))
        #suppression des zeoooes
        for e in prix:
            if e == 0:
                prix.remove(e)
    print(prix)
    print(len(prix))
    return numpy.mean(prix)

In [167]:
Yuushi1mean(data)

[205000, 247000, 400000, 330000, 198000, 310000, 299000, 269000, 330000, 720000, 269000, 415000, 190000, 210000, 218000, 198000, 290000, 99000, 129000, 280000, 555300, 136000, 720000, 123000, 198000, 99000, 374000, 294000, 305000, 345000, 199000, 114000, 91000, 685000, 269000, 82500, 445000, 620000, 250000, 148000, 214000, 293500, 260000, 242000, 395000, 460000, 160000, 425000, 276000, 240000, 270000, 445000, 276000, 375000, 320000, 260000, 280000, 128000, 221957, 170000, 82500, 260000, 145000, 216000, 294500, 425000, 112200, 155000, 220000, 220000, 361000, 110000, 125000, 190000, 179000, 150000, 165000, 185000, 219000, 115000, 210000, 89000, 500000, 305000, 260000, 269000, 351000, 233000, 66000, 210000, 299000, 360000, 325600, 515000, 320000, 320000, 329000, 220000, 380000, 198000, 119500, 230000, 345000, 120000, 240000, 286000, 140000, 107000, 190000, 89000, 129000, 200000, 286000, 345000, 320000, 280000, 233000, 230000, 325600, 247900, 400000, 290000, 110000, 190000, 244000, 233000, 210000, 250000, 351000, 210000, 180000, 179000, 170000, 315000, 290000, 310000, 138000, 250000, 405000, 107000, 299000, 220000, 449000, 329000, 269000, 449000, 260000, 107000, 260000, 330000, 312000, 280000, 210000, 269000]
154

262318.55194805196

In [160]:
def Yuushi1m2mean():
    GRLIST = data.iloc[:,4]
    
    # transformer en int 
    m2 = list()
    for e in GRLIST :
        nombres = re.findall("\d+", e) # recherche tous les décimals
        if len(nombres) < 1 :
            m2.append(0)
        else :
            metr= nombres[0] 
            m2.append(int(metr))
        
        #suppr des zerooso
        for e in m2:
            if e ==0: 
                m2.remove(e)
    print (m2)
    return numpy.mean(m2)

In [168]:
Yuushi1m2mean()

[17, 25, 30, 27, 16, 27, 21, 19, 38, 27, 19, 31, 15, 15, 18, 20, 22, 7, 11, 28, 36, 11, 12, 20, 7, 22, 23, 27, 35, 18, 10, 7, 27, 23, 7, 27, 28, 24, 12, 20, 29, 24, 22, 32, 31, 13, 32, 24, 17, 26, 27, 24, 23, 17, 14, 25, 9, 11, 7, 34, 12, 17, 28, 32, 9, 15, 25, 20, 10, 11, 19, 13, 11, 15, 16, 16, 10, 13, 9, 33, 25, 34, 19, 32, 14, 6, 16, 26, 35, 22, 46, 23, 17, 27, 19, 43, 18, 10, 16, 30, 7, 31, 28, 12, 12, 19, 7, 11, 18, 28, 32, 23, 26, 14, 16, 22, 20, 30, 22, 9, 15, 24, 14, 16, 27, 32, 15, 12, 13, 12, 23, 28, 24, 9, 18, 40, 12, 26, 20, 32, 31, 25, 42, 27, 12, 24, 26, 26, 28, 13, 19]

20.887417218543046